@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
main {
  @apply mt-20;
}

/* COMMON STYLES */
.sp {
  @apply py-20;
}

.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

/* TYPOGRAPHY STYLES */
h1 {
  @apply text-8xl font-medium;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

small {
  @apply text-xs font-bold tracking-widest;
}

/* SWIPER STYLES */
.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 145, 181) !important;
  fill: rgb(0, 145, 181) !important;
  stroke: rgb(0, 145, 181) !important;
}

.swiper-pagination-bullet {
  background-color: rgb(0, 145, 181) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(0, 145, 181) !important;
}

/* LINK STYLES */
.link-item {
  @apply relative;
}

.link-item::after {
  @apply eq absolute bottom-0 left-1/2 h-px w-0 -translate-x-1/2 bg-black content-[""];
}

.link-item:hover::after {
  @apply w-full;
}
